extends layout
block content
	article#container(itemscope, itemtype='http://schema.org/Event')
		.row
			.col-sm-9
				header
					h1.entry-title(itemprop='name')=data.post_title
				.rientro
					include inc_dateplace
					div(itemprop='description')!=data.post_content
			.col-sm-3
				img.img-responsive.wp-post-image(src=data.featured.thumbnail, alt=data.post_title, itemprop='image')
		if data['wpcf-add-grid-boxes'] && data['wpcf-rows'] && data['wpcf-columns']
			- console.log("stocazzo")
			include inc_grid

