extends layout
block content
		article#container(itemscope, itemtype='http://schema.org/Event')
		.row
			.col-sm-9
				header
					h1.entry-title(itemprop='name')=data.post_title
				.rientro
					include inc_dateplace
					div(itemprop='description')!=data.post_content
					br
					include inc_share
			.col-sm-3
				img.img-responsive.wp-post-image(src=data.featured.thumbnail, alt=data.post_title, itemprop='image')

