extends layout
block content
	article#container(itemscope, itemtype='http://schema.org/Event')
		.row
			each box in data
				.col-lg-3.col-md-4.col-sm-6.col
					include boxes/box_event
					pre=JSON.stringify(box)
