extends layout
block content
	article(itemscope, itemtype='http://schema.org/'+itemtype)
		header
			h1.entry-title(itemprop='name')!=data.title.rendered
		!=data.content.rendered
		br
		include inc_share
