ul.nav.nav-pills.nav-stacked
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://flyer.it/', title='Flyer communication: new media agency')
            span.glyphicon.glyphicon-star
            |  FLYER
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://wp.flyer.it/', title='The Flyer style with the simplicity of WordPress')
            span.glyphicon.glyphicon-star
            |  FLYER WP
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://avnode.org/', title='International Network for Audio Visual art')
            span.glyphicon.glyphicon-star
            |  AVNODE
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='https://flxer.net/', title='FLxER: Live visuals community and software')
            span.glyphicon.glyphicon-star
            |  FLxER
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://vjtelevision.com/', title='Vj television: the first 24-hour live video broadcast channel')
            span.glyphicon.glyphicon-star
            |  VJ TELEVISION
    li.active.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://liveperformersmeeting.net/', title='Live video performers, visual artists and vj meeting')
            span.glyphicon.glyphicon-star
            |  LPM
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://livecinemafestival.com/', title='Festival of Audio-Video performances of live cinema')
            span.glyphicon.glyphicon-star
            |  Live Cinema
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://chromosphere.eu/', title='Festival of Audio-Video performances on full domes')
            span.glyphicon.glyphicon-star
            |  Chromosphere
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://learning.flyer.it/', title='High level courses and workshops')
            span.glyphicon.glyphicon-star
            |  LEARNING
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://shockart.net/', title='Shockart: web art project')
            span.glyphicon.glyphicon-star
            |  SHOCKART
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://wam.flyer.it/', title='WAM: Web Art Museum')
            span.glyphicon.glyphicon-star
            |  WAM
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://linux-club.org/', title='Linux Club Italia')
            span.glyphicon.glyphicon-star
            |  LINUX CLUB
    li.menu-item
        a.tooltips(data-placement='right', data-toggle='tooltip', target='_blank', href='http://fhf.it/', title='Free Hardware Foundation')
            span.glyphicon.glyphicon-star
            |  FHF