.a2a_kit.a2a_kit_size_32.addtoany_list(data-a2a-url='http://liveperformersmeeting.net/events/approaches-to-multichannel-sound-using-reaktor/', data-a2a-title='Approaches to Multichannel Sound Using Reaktor Workshop', style='line-height: 32px;')
   a.a2a_button_twitter(href='/#twitter', title='Twitter', rel='nofollow', target='_blank')
       span.a2a_svg.a2a_s__default.a2a_s_twitter
       span.a2a_label Twitter
   a.a2a_button_facebook(href='/#facebook', title='Facebook', rel='nofollow', target='_blank')
       span.a2a_svg.a2a_s__default.a2a_s_facebook
       span.a2a_label Facebook
   a.a2a_button_google_plus(href='/#google_plus', title='Google+', rel='nofollow', target='_blank')
       span.a2a_svg.a2a_s__default.a2a_s_google_plus
       span.a2a_label Google+
   a.a2a_button_pinterest(href='/#pinterest', title='Pinterest', rel='nofollow', target='_blank')
       span.a2a_svg.a2a_s__default.a2a_s_pinterest
       span.a2a_label Pinterest
   a.a2a_button_vk(href='/#vk', title='VK', rel='nofollow', target='_blank')
       span.a2a_svg.a2a_s__default.a2a_s_vk
       span.a2a_label VK
   a.a2a_button_email(href='/#email', title='Email', rel='nofollow', target='_blank')
       span.a2a_svg.a2a_s__default.a2a_s_email
       span.a2a_label Email
   a.a2a_dd.addtoany_share_save(href='https://www.addtoany.com/share#url=http%3A%2F%2Fliveperformersmeeting.net%2Fevent%2Fapproaches-to-multichannel-sound-using-reaktor%2F&title=Approaches%20to%20Multichannel%20Sound%20Using%20Reaktor%20Workshop&description=Workshop%20%E2%9E%9D%20Approaches%20to%20Multichannel%20Sound%20Using%20Reaktor%20Curated%20by%C2%A0CC4AV%20Date%20%E2%9E%9D%20November%2022%20-%2026%20Time%20%E2%9E%9D%2010%20am%20-%204%20pm%20Sound%20and%20Space%20are%20intrinsically')
       span.a2a_svg.a2a_s__default.a2a_s_a2a
       span.a2a_label Share